body {
  background-color: #12161b;
}

.creatorSelector {
  width: 50vw;
  height: 98vh;
  background-color: red;
}

.creator {
  height: 70%;
  background-color: green;
}

.selector {
  height: 30%;
  background-color: blue;
}

.wrapper {
  display: flex;
}
